<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- need to add thymeleaf object and bindingresult -->
    <h1>Order Details (details.html)</h1>
    <form method="POST" action="#">
        Order Id:
        <input type="text">
        <button type="submit">Find Order</button>
    </form>
    <br>

    <h1>Order Details</h1>
    <div>
        <!-- insert thymeleaf content here -->

    </div>
</body>
</html>